In [14]:
#Cleaning
import pandas as pd
import csv
import re

In [16]:
df = pd.read_csv("neutral.csv")

C:\Users\bangc\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (0,1,2,3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [18]:
def cleanText(text):
    text = re.sub("(@[A-Za-z0-9_]+)", '', str(text))
    text = re.sub(r'#', '', text)
    text = re.sub(r'RT[\s]+', '', text)
    text = re.sub(r'https?:\/\/\S+', '', text)
    return text

df['Tweet Text'] = df['Tweet Text'].apply(cleanText)

In [19]:
df.head()

,Unnamed: 0,User ID,Tweet ID,Tweet Text,Date,Time
0,0,1211430108583493632,1316430551998517248,i just REALLY love my flight &lt;3,2020-10-14,17:27:56
1,1,1211430108583493632,1316430350629974018,flight rising is amazing orgnjireiwjn i love i...,2020-10-14,17:27:08
2,2,1211430108583493632,1316428372990406659,THEYRE SO CUTE???,2020-10-14,17:19:16
3,3,1211430108583493632,1316427851638415361,"WENDY""S WHAT",2020-10-14,17:17:12
4,4,1211430108583493632,1316427602127720461,MY BOY,2020-10-14,17:16:13

In [20]:
df.to_csv('neutral_1.csv')

In [21]:
# Create a csv
keywords = ['Vaccine', 'vaccine']
searched_keywords = '|'.join(keywords)
df = pd.read_csv('neutral_1.csv')
df = df[df['Tweet Text'].str.contains(searched_keywords, na=False)]

C:\Users\bangc\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (1,2,3,4,5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [22]:
#Sentiment Analysis
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer as st
analyzer = st()

In [23]:
df.head()

,Unnamed: 0,Unnamed: 0.1,User ID,Tweet ID,Tweet Text,Date,Time
72,72,72,54544351,1310269988725424128,Modi pledges to use India vaccine-production c...,2020-09-27,17:28:03
1240,1240,1240,1086613757906821120,1300614897215188993,My family and I will pass on this premature va...,2020-09-01,02:02:10
3734,3734,3734,381668772,1315845492933300224,Johnson &amp; Johnson COVID-19 vaccine trial p...,2020-10-13,02:43:07
4994,4994,4994,2544206017,1309833443858149376,Chinese officials push use of emergency corona...,2020-09-26,12:33:23
4997,4997,4997,2544206017,1309667374929502210,China says WHO supported early use of coronavi...,2020-09-26,01:33:29

In [24]:
df.iloc[0][4]

"Modi pledges to use India vaccine-production capacity to help 'all humanity' "

In [25]:
score_neutral = []
score_positive = []
score_negative = []
score_compound = []
for i in range(0, df.shape[0]):
    score = analyzer.polarity_scores(df.iloc[i][4])
    score1 = score['neu']
    score_neutral.append(score1)
    score2 = score['pos']
    score_positive.append(score2)
    score3 = score['neg']
    score_negative.append(score3)
    score4 = score['compound']
    score_compound.append(score4)

df['neutral'] = score_neutral
df['positive'] = score_positive
df['negative'] = score_negative
df['compound'] = score_compound

In [26]:
df.head()

,Unnamed: 0,Unnamed: 0.1,User ID,Tweet ID,Tweet Text,Date,Time,neutral,positive,negative,compound
72,72,72,54544351,1310269988725424128,Modi pledges to use India vaccine-production c...,2020-09-27,17:28:03,0.787,0.213,0.000,0.4019
1240,1240,1240,1086613757906821120,1300614897215188993,My family and I will pass on this premature va...,2020-09-01,02:02:10,1.000,0.000,0.000,0.0000
3734,3734,3734,381668772,1315845492933300224,Johnson &amp; Johnson COVID-19 vaccine trial p...,2020-10-13,02:43:07,0.769,0.000,0.231,-0.4019
4994,4994,4994,2544206017,1309833443858149376,Chinese officials push use of emergency corona...,2020-09-26,12:33:23,0.776,0.000,0.224,-0.3818
4997,4997,4997,2544206017,1309667374929502210,China says WHO supported early use of coronavi...,2020-09-26,01:33:29,0.839,0.161,0.000,0.3182

In [27]:
df.to_csv('neutral_final.csv')